<div class='show'>
<p><h2>To do : <%= @task.task_title %></h2></p>
<p><h3> What exactly : <%= @task.task_description %></h3></p>
<h4>Until > <%= @task.deadline %></h4>
</div>

<p class="bouton"><%= link_to 'Accueil', tasks_path %></p>
