/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 html{
   top:0;
   margin:0;
 }

/* LIENS */

.barre {
  width:50%;
}

h1 {
  color:#1794AC;
}

.title { //H2 s'enregistrer se connecter
  font-family: 'Roboto', sans-serif;
  color:#1794AC;
  font-size: 22px;
  margin:0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

a,a:visited, {
  color: #1795AC;
}

a:hover, a:focus {
  filter:opacity(70%);
}



/* HEADER */

.container {
  text-align: center;
  height: 100%;
  vertical-align: middle;
  padding:0px 20px 20px 20px;

}

.header{
  height: auto;
  width: 100%;
  margin: auto;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.item-navbar {
  display:inline-block;
  vertical-align: middle;
  margin:2vh;
  font-size: 0.8em;
}
  #main-title {
    font-size: 1.7em;
    border-right: 1px solid #4A4A4A;
    margin:4vh 0vh;
    padding-right: 4vh;
    color:#4A4A4A;
  }

  #edit-profil{
    a{
      color:#4A4A4A;
    }
    margin-left:80vh;
  }

.lead {
  font-family: 'Oleo Script', cursive;
  font-size: 1em;
  color:#4A4A4A;
}

.bouton_accueil {
  font-family: 'Coda', cursive;
  border: 1px solid #1794AC;
  width:180px;
  margin: auto;
  margin-top: 35px;
  padding:1vh;
  text-align: center;
  vertical-align: middle;
}

.bouton_auth {
  margin-top: 30px;
  display:inline-block;
  background-color: #1794AC;
  border-radius:5px;
  color:white;
  padding:1vh;
  font-family: 'Coda', cursive;
  width:70%;
  text-align: center;
  vertical-align: middle;
  a {
    color:white;
  }
}

.bouton_forgot {
  margin-top:2vh;
  a {
    color:#4A4A4A;
  }
}

.user {
  display:inline-block;
  margin-top: 25px;
  color:#1794AC;
}

/* TABLEAU */

body {
  background-color: #F3F3F3;
}

table{
  font-family: 'Roboto', sans-serif;
  margin:auto;
  border-collapse: collapse;
}

th {
  padding: 30px;
}

tbody tr {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3vh;
}

td {
  padding:5px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

td,th {
  vertical-align: middle;
  text-align: center;
}

thead {
  color:#1794AC;
}

tbody {
  text-align: center;
}

.row {
  width:900px;
  height:100%;
  margin: auto;
  border-radius: 15px;
}
/* FORM */

.field {
  width:40vh;
  height:auto;
  padding:4vh;
  display: inline-block;
  vertical-align: middle;
  margin-bottom:10px;
}

.button {
    width: 30vh;
    height:auto;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    color:#4A4A4A;
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.button:hover {
  color:#1794AC;
}

#icon {
  margin-left: 5vh;
}

.field{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 350px;
    padding: 0px;
    margin: 15px auto;
}

.field .field1,
.field .field2,
.field .field3,
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 1.5vh;
    color:#4A4A4A;
    border: 1px solid rgba(#4A4A4A,0.2);
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Montserrat',Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    font-size:0.8em;
    text-align: center;
    height:auto;

}

.field .field1:focus,
.field .field2:focus,
.field .field3:focus,
 {
    border:transparent;
    border-bottom:1px solid #1794AC;
}


/* AUTRES */

.bouton {
  font-family: 'Coda', cursive;
  border: 1px solid #1794AC;
  width:150px;
  padding:5px;
  text-align: center;
  display:inline-block;
  margin: 0px 30px;
}

 .notice, .alert {
  display: inline-block;
  font-family: 'Coda', cursive;
  margin: auto;
  text-align: center;
  color:#4A4A4A;
  width:500px;
}

.show {
  vertical-align: middle;
}

.details {
  width:700px;
  height: 110%;
  margin:auto;
  margin-top: 10%;
  padding:10px 50px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

.home {
  width:700px;
  height: 110%;
  margin:auto;
  padding:3vh 10vh;
  font-family: 'Roboto', sans-serif;
  }

footer {
  height:100%;
  padding:15px;
  top:0;
  margin:auto;
  margin-top: 60px;
  font-size: 1.1em;
  text-align: center;
  vertical-align: middle;
  font-family: 'Oleo Script', cursive;
}

footer p {
  color:#4A4A4A;
}
