/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 html{
   top:0;
   margin:0;
 }

/* LIENS */

h1 {
  color:#925446;
}

.title {
  font-family: 'Roboto', sans-serif;
  color:#925446;
  font-size: 30px;
}

a, a:hover, a:visited {
  text-decoration: none;
}

a {
  color: #bdc3c7;
}

a:hover {
  color: #ecf0f1;
}

a:visited {
  color: #ecf0f1;
}


/* HEADER */

#hr1{
  width:400px;
  color: #925446;
}

#hr2 {
  margin-top: 30px;
  width:300px;
}

.container {
  text-align: center;
  height: 100%;
  vertical-align: middle;
  padding:0px 20px 20px 20px;

}

.header{
  height: 100%;
  width: 50%;
  margin: auto;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.lead {
  font-family: 'Oleo Script', cursive;
  font-size: 1em;
  color:#95a5a6;
}

.bouton_accueil {
  font-family: 'Coda', cursive;
  background-color:#925446;
  width:180px;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  padding:5px;
  text-align: center;
  vertical-align: middle;
}

.bouton_auth {
  font-family: 'Coda', cursive;
  background-color:#925446;
  width:180px;
  margin-top: 30px;
  border-radius: 20px;
  padding:3px;
  text-align: center;
  vertical-align: middle;
  display:inline-block;
}

.user {
  display:inline-block;
  margin-top: 25px;
}

/* TABLEAU */

body {
  background-color: #F3F3F3;
}

table{
  font-family: 'Roboto', sans-serif;
  margin:auto;
  border-collapse: collapse;
}

th {
  margin: 15px;
  padding: 15px;

}

td {
  padding:10px;
  margin: 15px;
  border-bottom: 1px solid #101010;
}

td,th {
  vertical-align: middle;
  text-align: center;
}

thead {
  border-bottom: 1px solid #101010;
  color:#925446;
}

.row {
  width:900px;
  height:100%;
  margin: auto;
  border-radius: 15px;
}
/* AUTRES */

.field1, .field2, .field3{
  background-color: #925446;
  border-radius: 10px;
  border:2px solid #ecf0f1;
  color:#ecf0f1;
  font-size:0.8em;
  text-align: center;
}

.field1 {
  width:120px;
  height:20px;
}

.field2 {
  width:350px;
  height:70px;
  padding:10px;
}

.field3 {
  margin:10px 0px;
  width:200px;
}

.bouton {
  font-family: 'Coda', cursive;
  background-color:#925446;
  width:150px;
  border-radius: 20px;
  padding:5px;
  text-align: center;
  display:inline-block;
  margin: 0px 30px;
}

 .notice, .alert {
  display: inline-block;
  font-family: 'Coda', cursive;
  margin: auto;
  text-align: center;
  color:white;
  width:500px;
}

.show {
  vertical-align: middle;
}

.details {
  width:700px;
  height: 110%;
  background-color: #95a5a6;
  margin:auto;
  margin-top: 10%;
  padding:10px 50px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

.home {
  width:700px;
  height: 110%;
  background-color: #95a5a6;
  margin:auto;
  padding:10px 50px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  }

footer {
  height:100%;
  padding:15px;
  top:0;
  margin:auto;
  margin-top: 60px;
  font-size: 1.1em;
  text-align: center;
  vertical-align: middle;
  font-family: 'Oleo Script', cursive;
}

footer p {
  color:#4A4A4A;
}
