// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  margin: auto;
  text-align: center;
  font-size: 5em;
  color:#bdc3c7;

}

body{
  background-image: url("images/back.jpg");
  padding: 30px;
  margin: 30px;
  text-align: center;
}

header {
  background-color: #34495e;
  height : 100px;
  width: 500px;
  margin: auto;
  text-align: center;
  margin-bottom: 75px;
  padding-top: 10px;
  border-radius: 30px;
}

.bouton {
  background-color: #34495e;
  width: 80px;
  height :20px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  padding : 5px 3px;
}

#min-width {
  min-width: 100px;
}

.align-left {
  text-align: left;
}

.show {
  margin: auto;
  background-color:#34495e;
  color: #bdc3c7;
  width: 50%;
  margin-bottom: 30px;
  padding: 10px 25px;
  border-radius: 30px;
}

/* TABLEAU */

.row {
  margin:10px;
  background-color: #2980b9;
  padding: 5px 10px ;
  width:550px;
  border-radius: 20px;
  display: inline-block;

  * {
    text-align: center;
  }
}

.row-content {
  display:inline-block;
  padding: 10px;
  margin:auto;
  max-width: 200px;
}

.column1 {
  display: inline-block;
  width:20px;
  margin: 0px 15px;
}

.column2 {
  width:90px;
  display: inline-block;

}

.column3 {
  width:130px;
  display: inline-block;

}

.column4 {
  width:120px;
  display: inline-block;

}

.column5 {
  width:120px;
  display: inline-block;

}

.column6 {
  margin:5px;
}


/* LIENS */

a {
  text-decoration: none;
  color:#ecf0f1;

  &:hover {
    text-decoration: none;
    color:#bdc3c7;
  }

  &:active {
    text-decoration: none;
    color:#ecf0f1;
  }
  &:visited {
    text-decoration: none;
    color:#ecf0f1;
  }
}



/* CHECKBOX */
