<div class='details'>
<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à changer votre mot de passe, vous pouvez le faire grâce à ce lien :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez rien demander, ignorez cet e-mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien.</p>
</div>
