<div class='details'>
<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte à été bloqué suite à plusieurs échecs de connexion.</p>

<p>Cliquez sur le lien ci-dessous pour débloquer votre compte.</p>

<p><%= link_to 'Unlock', unlock_url(@resource, unlock_token: @token) %></p>
</div>
